@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("header.css");
@import url("footer.css");
@import url("sections/section1.css");
@import url("sections/section2.css");
@import url("sections/section3.css");
@import url("sections/section4.css");
@import url("sections/section5.css");
@import url("sections/section6.css");
html {
  scroll-behavior: smooth;
}
:root {
    --background-color: #1F63A0;
    --background-secondary: #00B081;
    --coloreste: #1D6FA9;
    --teste-cta: #00908F;
    --testeazul: #36AFCE;
    --font-color: #f3f3f3;

    --text-grey: #b3b3b3;
    --dark-blue: #001220;
    --bg-input: #f2f2f2;

    --border-radius: 8px;
}

* {
    font-family: Rubik;
}

body {
    margin: 0;
    padding: 0;
}

#sec1-title, #sec1-sub, .sec1-content-btn, .cards, .title-s2, .p-sec2, .sec2-2-mapa, .sec3-container-carrousel {
    visibility: hidden;
}



