

.sec4-cards {
    display: flex;
    gap: 27px;
    margin-top: 100px;
}

.sec4-card {
    width: 380px;
    height: 260px;
    border-radius: 16px;
    border: 1px solid #E4E3E3;
    background: #FFF;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    padding: 34px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.sec4-card img {
    height: 32px;
    margin-bottom: 20px;
}

.sec4-card .p1 {
    color: var(--background-secondary, #00B081);
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 325px;
}

.sec4-card .p2 {
    overflow: hidden;
    color: #646464;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 296px;
    height: 80px;
}

.sec4-impacto {
    width: 100%;
    /* height: 170px; */
    background: #F1EFEF;
    display: flex;
    justify-content: space-around;

    padding: 10px;
}

.cards-impacto {
    display: flex;
    gap: 60px;
    align-items: center;
    z-index: 2;

}

.card-impacto {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    width: 150px;
    height: 110px;
    background-color: #C9C9C9;

}
.bg1 {
    width: 100%;
    height: 170px;
    position: absolute;
    background: #fff;
    z-index: 0;
    /* bottom:  */
}
.txt-impacto {
    display: flex;
    width: 375px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    z-index: 1;
}

.txt-impacto h3 {
    color: #0F172A;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.txt-impacto p {
    color: #646464;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -30px;
}

.sec4-2 {
    background-color: #F1EFEF;
    display: flex;
    justify-content: space-around;
}

.sec4-2-col1 {
    display: flex;
    width: 557px;
    flex-direction: column;
    align-items: flex-start;
}

.sec4-h2 {
    color: #131516;
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 300px;
}

.sec4-p1 {
    color: #131516;
    font-family: Rubik;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.sec4-p2 {
    color: #131516;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 557px;

}

.sec4-info {
    width: 500px;
    height: 290px;
    /* background-color: #0F172A; */
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 24px;
}

.sec4-col1 {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sec4-col2 {
    display: flex;
    flex-direction: column;
    gap: 134px;
}

.post-it {
    display: flex;
    width: 345px;
    height: 77px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px 0;
    background: var(--Colorteste, #1D6FA9);
}